button {
  font-size: var(--fs-400);
  font-family: var(--ff-primary);
  color: var(--black);
}

.card__button-answer {
  background: var(--secondary);
  color: var(--white);
  border: none;
  display: block;
  margin: 0 auto 2rem auto;
  padding: 1rem;
}

.card__button-answer:hover {
  opacity: 0.75;
  cursor: pointer;
}
