.card {
  border: 1px solid var(--black);
  padding: 2rem;
  text-align: center;
  position: relative;
}

.card__question {
  margin: 0 0 2rem;
}

.card__answer {
  margin: 0 2rem;
  font-style: italic;
  display: none;
}

.card__answer--active {
  display: block;
}

.card__button-bookmark {
  position: absolute;
  right: 1rem;
  top: -1.5rem;
}

.card__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
}

.card__tag-list-item {
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 4px;
  padding: 0 5px;
}

.card-list {
  padding: 10rem 2rem 4rem 2rem;
  max-width: 45rem;
  margin: 0 auto;
}

.card-list__item {
  margin: 0 0 4rem;
}

.bookmark {
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--secondary);
  color: var(--white);
}

.bookmark:hover {
  cursor: pointer;
}

.bookmark--active {
  color: var(--black);
}

.bookmark__icon {
  fill: currentcolor;
  width: 2em;
}
